
@model App_Chat.Models.ListaDeContactos

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chaticornios</title>

    <script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script>
    <script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script>
    <script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'>

    </script>
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">

    <link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
    <link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />

    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>
        try {
            Typekit.load({ async: true });
        } catch (e) {
        }
    </script>

    @Styles.Render("~/Chat/css")


    <!--

    Diseño inspirado por:
    http://emilcarlsson.se/

    -->

</head>

<body>

    <div id="frame">
        <div id="sidepanel">

            <div id="profile">
                <div class="wrap">

                    <img alt="" src="@Url.Content(Model.foto)">

                    <p>@Model.usuario</p>

                </div>
            </div>

            <div id="search">
                <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                <input type="text" placeholder="Buscar contacto... " />
                <img alt="List View" src="@Url.Content("~/Images/Buscar.png")" width="10" height="10">
            </div>
            
            <div id="contacts">
                <ul style="list-style-type: none">

                    <li class="contact" onclick="document.getElementById('CurrentChat').innerHTML='  Alice'">
                        <div class="wrap">
                            <img alt="" src="@Url.Content("~/Images/Gaticornio.png")">
                            <div class="meta">
                                <p class="name">Alice</p>
                            </div>
                        </div>
                    </li>

                    @foreach (var item in Model.Contactos)
                    {
                        <li class="contact" onclick="document.getElementById('CurrentChat').innerHTML='  @item.username';">
                            <div class="wrap">
                                <img alt="" src="@Url.Content(item.imagen)">
                                <div class="meta">
                                    <p class="name">@item.username</p>
                                </div>
                            </div>
                        </li>
                    }

                </ul>
            </div>

            <div id="bottom-bar">
                <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Salir</span></button>
                <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Configuracion</span></button>
            </div>

        </div>

        <div class="content">

            <div class="contact-profile">
                <p style="font-size: xx-large; align-content: center;" id="CurrentChat">Genesis</p>
            </div>

            <div class="messages">
                <ul id="mensajes" name="mensajes">
                    @*Aqui van los mensajes*@
                </ul>
            </div>

            <div class="message-input">
                <div class="wrap">

                    <input type="text" placeholder="Escribe algo..." />

                    <button class="submit" id="addFile"><img alt="" src="@Url.Content("~/Images/Clip.png")" width="20" , height="25"></button>
                    <button class="submit" id="addMessage"><img alt="" src="@Url.Content("~/Images/Enviar.png")" width="20" , height="25"></button>

                </div>
            </div>
        </div>
    </div>

    <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script>

        $(document).ready(function () {
            getMessages();
        });

        $(".messages").animate({ scrollTop: $(document).height() }, "fast");

        //Refrescar pagina
        setInterval(
            function () {
                getMessages();
            }, 15000);

        function getMessages() {
            //Obtener Mensajes
            $.ajax({
                url: '/Chat/Mensajes/' + document.getElementById('CurrentChat').innerHTML,
                method: 'GET',
                contentType: 'application/json',
                success: function (result, status, xhr) {
                    if (result != "")
                    {
                        $('#mensajes').empty();
                        $('#mensajes').append(result);   
                    }
                },
                error: function (xhr, status, error) {
                    alert(("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText));
                    window.location.href = "/Login/Login";
                }
            });
        };

        function newMessage() {

            var persona = document.getElementById('CurrentChat').innerHTML;
            message = $(".message-input input").val();

            if ($.trim(message) == '') {
                return false;
            }
            $('<li class="sent"><p>' + message + '</p></li>').appendTo($('.messages ul'));
            $('.message-input input').val(null);
            $(".messages").animate({ scrollTop: $(document).height() }, "fast");


            $.ajax({
                url: '/Chat/Index?persona=' + persona + '&mensaje=' + message,
                method: 'POST',
                contentType: 'json'
            });
        };

        $('.submit').click(function () {
            newMessage();
        });

        $(window).on('keydown', function (e) {
            if (e.which == 13) {
                newMessage();
                return false;
            }
        });

    </script>
</body>

